<!-- 'date' seria una directiva Pipe la cual se puede dar formato -->
<!--https://angular.io/api/common/DatePipe -->
<h2>Formulario Nuevo Usuario</h2>

<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
  <p>
    <label for="name">Nombre</label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required pattern="[a-zA+Z]+"/>
    <span *ngIf="name.touched && !name.valid">El nombre es obligatorio</span>
  </p>
  <p>
    <label for="job">Trabajo</label>
    <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required pattern="[a-zA+Z]+"/>
    <span *ngIf="job.touched && !job.valid">El trabajo es obligatorio</span>
  </p>

  <input type="submit" value="Guardar usuario" [disabled]="!newUser.valid">
</form>

<div *ngIf="usuario_guardado">
	<h2>El usuario se ha guardado correctamente</h2>
	<h3>{{usuario_guardado.name}}</h3>
	<h4>{{usuario_guardado.job}}</h4>
</div>

<br>
<hr>
<br>

<!-- 'date' seria una directiva Pipe la cual se puede dar formato -->
<!--https://angular.io/api/common/DatePipe -->
<div>{{ fecha | date:"fullDate" | uppercase }}</div>
<div>{{ fecha | date:"dd/MM/YYYY"}}</div>
<br>
<div>
  {{ 88 | calculadora: 2 }}
</div>
<p>Introduce id de usuario: <input type="text" [(ngModel)]="userId" (keyup.enter)="cargaUsuario()"></p>
<br>
<div *ngIf="!user">
  <p>Cargando...</p>
</div>
<div *ngIf="user">
  <img src="{{ user.avatar }}" alt="">
  <h2>{{ user.first_name + ' '+ user.last_name}}</h2>
</div>


